body {
    display: grid;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

.backgroundVid {
    position: fixed;
    z-index: 1;
    width: 100vw;
    height: 100vh;
}

.rubrik {
    width: 100vw;
    height: 100vh;
    text-align: center;
    font-size: 2.8rem;
    color: green;
}

.textStartsida {
    font-size: 2rem;
}

.name {
    font-size: 1.5rem;
}

button {
    background-color: green;
    opacity: 70%;
    color: white;
    border-radius: 0.5rem;
    border: none;
    border-style: outset;
    width: 7rem;
    height: 3rem;
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}